.main-carousel-container{
  width: 1100px;
}
.window{
  width: 100%;
  overflow: hidden;
}
.all-sliders-container{
  display: flex;
}

@media only screen and (max-width: 428px) {
  .main-carousel-container{
    width: 100%;
  }
}