@media only screen and (max-width: 428px) {
  .background-home{
    background: url('./home/background-home-mobile.jpg') no-repeat;
    background-size: cover;
  }
  .background-destinations{
    background: url('./destination/background-destination-mobile.jpg') no-repeat;
    background-size: cover;
  }
  .background-crew{
    background: url('./crew/background-crew-mobile.jpg');
    background-size: cover;
  }
  .background-technology{
    background: url('./technology/background-technology-mobile.jpg');
    background-size: cover;
  }
  header{
    height: 100px;
  }
  .container_header{
    margin: 0;
    width: 100%;
  }
  .logo{
    margin: 24px;
  }
  .hamburger{
    display: block;
    margin: 24px;
  }
  .close{
    display: block;
    margin: 33px 24px 0 208px;
  }
  .line{
    display: none;
  }
  .active::before{
    left: 217px;
    top: 0;
    width: 3px;
    height: 100%;
  }
  nav{
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .activeNav{
    transform: translateX(0);
    transition: transform 0.5s;
  }
  nav ul{
    display: block;
    padding: 0;
    height: 100vh;
    margin-top: 20vh;
  }
  nav ul li{
    width: 222px;
    height: 34px;
    margin-bottom: 24px;
    margin-left: 32px;
    margin-right: 0;
  }
  nav ul li::after{
    opacity: 0;
  }
  .main-container{
    width: 100%;
    padding: 24px;
  }
  .home{
    display: block;
    padding-top: 15vh;
  }
  .text{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.7px;

    color: #D0D6F9;
  }
  article{
    text-align: center;
  }
  article span{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    text-align: center;

    color: #FFFFFF;
  }
  article p {
    width: 100%;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #D0D6F9;
  }
  .explore{
    margin: 100px auto;
    width: 150px;
    height: 150px;

    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.25px;
  }
  .pickYour{
    text-align: center;
    margin-top: 81px;
    padding: 0;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FFFFFF;
  }
  .pickYour span{
    margin-right: 18px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
  }
  .flex{
    display: block;
  }
  .planetIMG{
    width: 170px;
    margin: 32px 25vw;
  }
  .planets-list{
    margin: 0 13vw;
    top: 360px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;

    color: #D0D6F9;
  }
  .planet{
    margin-top: 8vh;
  }
  .planet span{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
  }
  .planet-info{
    display: block;
    margin: 32px 0;
  }
  .planet-info div{
    width: 100%;
    text-align: center;
    margin: 32px 0;
  }
  .planet-info span{
    text-align: center;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2.3625px;
    text-transform: uppercase;

    color: #D0D6F9;
  }
  .km{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;

    color: #FFFFFF;
  }
  .line_under-planet{
    margin-top: 32px;
  }
  .team{
    margin-top: 74px;
  }
  .line-team{
    margin-top: 269px;
    width: 100%;
    height: 1px;
    background-color: #383B4B;
  }
  .job{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .team div{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
  }
  .team article p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    
    color: #D0D6F9;
  }
  .peopleIMG{
    position: relative;
    bottom: 485px;
    margin-left: 26vw;
    height: 222px;
  }
  .dots{
    top: 50vh;
    margin-left: 30vw;
  }
  .dot{
    width: 10px;
    height: 10px;
  }
  .technology-container{
    padding: 24px;
    width: 100%;
  }
  .technology-margin{
    margin-left: 0;
  }
  .just_technology{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2.3625px;

    color: #D0D6F9;
  }
  .landscape{
    position: relative;
    bottom: 490px;
    width: 100%;
  }
  .tech-mobile{
    margin-top: 300px;
  }
  .slider{
    top: 42vh;
    display: flex;
  }
  .circle{
    margin-bottom: 0;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
  }
}